In [176]:
import pandas as pd
import numpy as np

file_path = r'C:\Users\Karan Gulati\Downloads\flightlist_20200201_20200229.csv.gz'
# Replace 'path_to_your_file.csv.gz' with the actual file path
df = pd.read_csv(r"C:\Users\Karan Gulati\Downloads\flightlist_20200201_20200229.csv.gz", compression='gzip')

In [177]:
#Checking records
df.head()

,callsign,number,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,CHH7903,NaN,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A333,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,10972.8,53.352573,-2.282253,NaN
1,LAN576,LA576,0451aefe-8575-435b-b2db-bf46a29392cd,B789,NaN,SKBO,2020-01-31 00:00:08+00:00,2020-02-01 00:03:33+00:00,2020-02-01 00:00:00+00:00,38.063810,-10.594164,10058.4,4.743530,-74.191884,2705.10
2,CES297,MU297,d2022876-a87d-4c7a-ae50-0509d5c14585,B77W,NaN,KJFK,2020-01-31 00:00:08+00:00,2020-02-01 02:11:45+00:00,2020-02-01 00:00:00+00:00,59.870682,33.374542,9448.8,40.666638,-73.835803,160.02
3,SVA870,NaN,7e04be4c-ee07-4f2e-b56d-867003fcbcb9,B77W,NaN,RPLL,2020-01-31 00:00:11+00:00,2020-02-01 08:45:10+00:00,2020-02-01 00:00:00+00:00,5.326042,100.201753,10668.0,14.493155,120.991757,68.58
4,QTR875,NaN,62ce619a-ce8a-4304-9b48-34d77d3b3f0f,B77W,NaN,OTHH,2020-01-31 00:00:27+00:00,2020-02-01 02:25:51+00:00,2020-02-01 00:00:00+00:00,25.943390,52.706909,6400.8,25.248367,51.629893,0.00

In [178]:
#Checking Null value counts
df.isna().sum()

callsign         645007
number          1863716
aircraft_uid          0
typecode         804861
origin           656027
destination      481250
firstseen             0
lastseen              0
day                   0
latitude_1            0
longitude_1           0
altitude_1            0
latitude_2           75
longitude_2          75
altitude_2        77003
dtype: int64

In [179]:
#Removing Columns
df.drop(['number','altitude_1','altitude_2'],axis=1,inplace=True)

In [180]:
df.head(1)

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2
0,CHH7903,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A333,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,53.352573,-2.282253

In [181]:
#Extracting Aircraft typecode
df['typecode']=df['typecode'].str.slice(0,1)

In [182]:
df.head(1)

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2
0,CHH7903,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,53.352573,-2.282253

In [183]:
#Calculating flight journey time
df['journey_time']=pd.to_datetime(df['lastseen'])-pd.to_datetime(df['firstseen'])

In [184]:
df.head(1)

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
0,CHH7903,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,53.352573,-2.282253,1 days 05:03:13

In [185]:
df.shape

(2648835, 13)

In [186]:
#Checks for sample journey
df[(df['origin']=='VABB') & (df['destination']=='LFPG')]

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
1949,AFR217,3b1b418b-2ae3-4689-80a6-f2acf710e2f4,B,VABB,LFPG,2020-01-31 21:45:59+00:00,2020-02-01 07:06:20+00:00,2020-02-01 00:00:00+00:00,19.088745,72.870990,48.995811,2.618721,0 days 09:20:21
28829,FDX5487,155b372b-bfb9-490c-93a0-36aad764cf76,B,VABB,LFPG,2020-02-01 07:05:04+00:00,2020-02-01 17:09:43+00:00,2020-02-01 00:00:00+00:00,19.092714,72.858669,49.027094,2.568560,0 days 10:04:39
81602,AFR217,e40dd5b8-e14c-4832-9340-b9fa09916af4,B,VABB,LFPG,2020-02-01 21:38:25+00:00,2020-02-02 07:07:23+00:00,2020-02-02 00:00:00+00:00,19.088745,72.870255,49.026908,2.565091,0 days 09:28:58
164856,AFR217,e40dd5b8-e14c-4832-9340-b9fa09916af4,B,VABB,LFPG,2020-02-02 21:10:11+00:00,2020-02-03 06:48:18+00:00,2020-02-03 00:00:00+00:00,19.088745,72.868170,48.996417,2.630936,0 days 09:38:07
255271,AFR217,049c20a7-cb53-4cd7-b6c0-f6aed6a6bffb,B,VABB,LFPG,2020-02-03 21:01:46+00:00,2020-02-04 06:27:58+00:00,2020-02-04 00:00:00+00:00,19.088745,72.869715,48.994263,2.590802,0 days 09:26:12
344549,AFR217,ee66e80d-fd9a-4e12-954e-689afbc8937f,B,VABB,LFPG,2020-02-04 21:01:20+00:00,2020-02-05 06:29:46+00:00,2020-02-05 00:00:00+00:00,19.088699,72.868195,48.992320,2.553888,0 days 09:28:26
434636,AFR217,ce5f4dce-0237-4e98-9ae0-c057b7ae064c,B,VABB,LFPG,2020-02-05 21:11:35+00:00,2020-02-06 06:45:14+00:00,2020-02-06 00:00:00+00:00,19.088699,72.865773,48.991761,2.543913,0 days 09:33:39
523558,AFR217,55412925-80c1-4851-9f74-149f9c62201b,B,VABB,LFPG,2020-02-06 20:56:12+00:00,2020-02-07 06:31:57+00:00,2020-02-07 00:00:00+00:00,19.088745,72.868319,48.991882,2.546293,0 days 09:35:45
546271,UZB251,08809cdf-e0a1-4e75-a418-38b6f232ef2d,NaN,VABB,LFPG,2020-02-07 02:29:14+00:00,2020-02-07 16:35:29+00:00,2020-02-07 00:00:00+00:00,19.088373,72.850192,48.991529,2.540227,0 days 14:06:15
560077,FDX7,5c01ec6d-f2e3-4c4c-a0ca-65003b2d3e07,NaN,VABB,LFPG,2020-02-07 07:13:09+00:00,2020-02-07 16:47:43+00:00,2020-02-07 00:00:00+00:00,19.092283,72.863975,49.024255,2.515869,0 days 09:34:34
619559,AFR217,75984c61-f53c-4dac-bee2-146fcdf5014b,B,VABB,LFPG,2020-02-07 21:25:55+00:00,2020-02-08 06:25:58+00:00,2020-02-08 00:00:00+00:00,19.088699,72.864924,49.027048,2.568126,0 days 09:00:03
655779,FDX5487,2045b3de-a290-4c00-950a-a91fa7883ec9,B,VABB,LFPG,2020-02-08 08:24:04+00:00,2020-02-08 17:57:27+00:00,2020-02-08 00:00:00+00:00,19.085161,72.871665,49.027374,2.574559,0 days 09:33:23
707640,AFR217,649d471b-d985-4442-9629-bda3d2ab058f,B,VABB,LFPG,2020-02-08 21:07:19+00:00,2020-02-09 06:42:50+00:00,2020-02-09 00:00:00+00:00,19.088605,72.858981,48.996094,2.625592,0 days 09:35:31
787616,AFR217,649d471b-d985-4442-9629-bda3d2ab058f,B,VABB,LFPG,2020-02-09 21:02:08+00:00,2020-02-10 06:38:58+00:00,2020-02-10 00:00:00+00:00,19.088605,72.861778,48.995087,2.606154,0 days 09:36:50
815207,OMA131,bfbf4e30-5d67-418f-9ca7-4d1b832e9c15,NaN,VABB,LFPG,2020-02-10 05:17:00+00:00,2020-02-10 18:44:52+00:00,2020-02-10 00:00:00+00:00,19.089024,72.867470,49.027467,2.576222,0 days 13:27:52
873910,AFR217,18d8bbb8-5699-4da9-860d-f72da0df89a5,B,VABB,LFPG,2020-02-10 21:08:50+00:00,2020-02-11 06:34:16+00:00,2020-02-11 00:00:00+00:00,19.088652,72.862077,48.994217,2.589675,0 days 09:25:26
900551,UZB251,ecc8fd29-1fb9-4689-bb48-57fe234ba8b6,NaN,VABB,LFPG,2020-02-11 04:39:51+00:00,2020-02-11 17:25:43+00:00,2020-02-11 00:00:00+00:00,19.087051,72.869666,48.995956,2.622986,0 days 12:45:52
988492,OMA131,bc3d0690-2f04-4d6e-8a36-f252b792390a,B,VABB,LFPG,2020-02-12 05:22:47+00:00,2020-02-12 18:37:54+00:00,2020-02-12 00:00:00+00:00,19.090439,72.865988,49.027327,2.573041,0 days 13:15:07
1050117,AFR217,72da1770-530a-4942-861a-4f5eb68942be,B,VABB,LFPG,2020-02-12 20:47:46+00:00,2020-02-13 06:08:36+00:00,2020-02-13 00:00:00+00:00,19.088745,72.868881,49.024956,2.534673,0 days 09:20:50
1144257,AFR217,72da1770-530a-4942-861a-4f5eb68942be,B,VABB,LFPG,2020-02-13 21:09:45+00:00,2020-02-14 06:31:10+00:00,2020-02-14 00:00:00+00:00,19.088373,72.854936,48.995682,2.617070,0 days 09:21:25
1182837,FDX7,1de3821f-f11f-4685-bd2c-b92bb8d0f0c5,B,VABB,LFPG,2020-02-14 07:34:36+00:00,2020-02-14 17:31:05+00:00,2020-02-14 00:00:00+00:00,19.087628,72.869019,49.027313,2.572773,0 days 09:56:29
1276270,FDX5487,51877d0e-be6b-428b-b598-db60af5f2c9e,B,VABB,LFPG,2020-02-15 06:57:39+00:00,2020-02-15 16:54:45+00:00,2020-02-15 00:00:00+00:00,19.093048,72.863143,49.027359,2.574674,0 days 09:57:06
1332846,AFR217,55412925-80c1-4851-9f74-149f9c62201b,B,VABB,LFPG,2020-02-15 21:01:49+00:00,2020-02-16 06:38:27+00:00,2020-02-16 00:00:00+00:00,19.088699,72.867655,48.997953,2.566012,0 days 09:36:38
1417685,KAC167,09ccfde8-5832-499a-b701-72d7fb1b59f2,A,VABB,LFPG,2020-02-16 20:52:23+00:00,2020-02-17 10:48:15+00:00,2020-02-17 00:00:00+00:00,19.088745,72.868440,49.027141,2.569427,0 days 13:55:52
1511445,AFR217,ca70225d-ef40-4fe9-9ec1-bacc6cad55a4,B,VABB,LFPG,2020-02-17 21:00:09+00:00,2020-02-18 06:28:26+00:00,2020-02-18 00:00:00+00:00,19.088654,72.863143,48.995672,2.616698,0 days 09:28:17
1697610,AFR217,e1cc78e9-8768-4fc8-b09d-203037489ea3,B,VABB,LFPG,2020-02-19 20:48:09+00:00,2020-02-20 06:27:19+00:00,2020-02-20 00:00:00+00:00,19.088745,72.868636,49.027130,2.569251,0 days 09:39:10
1796540,AFR217,5d398b33-775d-4ced-ae50-fb79c0b38767,B,VABB,LFPG,2020-02-20 21:08:11+00:00,2020-02-21 06:19:29+00:00,2020-02-21 00:00:00+00:00,19.088699,72.867900,48.994275,2.590750,0 days 09:11:18
1833347,FDX7,22d39707-7788-4445-94ee-b83da61d620f,NaN,VABB,LFPG,2020-02-21 06:45:15+00:00,2020-02-21 16:16:21+00:00,2020-02-21 00:00:00+00:00,19.088791,72.871824,49.027405,2.575097,0 days 09:31:06
1897630,AFR217,1dfe641a-98ae-49c2-bf00-1a89374293bd,B,VABB,LFPG,2020-02-21 20:51:11+00:00,2020-02-22 06:14:57+00:00,2020-02-22 00:00:00+00:00,19.088559,72.857433,48.994322,2.592557,0 days 09:23:46
1935987,FDX5487,5f23c944-2470-4f62-a548-f36a82c5f746,B,VABB,LFPG,2020-02-22 07:18:36+00:00,2020-02-22 16:53:59+00:00,2020-02-22 00:00:00+00:00,19.087967,72.868685,49.027405,2.574745,0 days 09:35:23
1992791,AFR217,5d398b33-775d-4ced-ae50-fb79c0b38767,B,VABB,LFPG,2020-02-22 21:07:09+00:00,2020-02-23 06:38:29+00:00,2020-02-23 00:00:00+00:00,19.088745,72.869618,48.996094,2.625169,0 days 09:31:20
2079662,AFR217,3255ee43-bb05-43a3-ad98-03855e1b2966,B,VABB,LFPG,2020-02-23 20:49:19+00:00,2020-02-24 06:32:28+00:00,2020-02-24 00:00:00+00:00,19.088699,72.868047,48.996323,2.630028,0 days 09:43:09
2173476,AFR217,edd39362-0f9f-45c6-8043-0bf363865434,B,VABB,LFPG,2020-02-24 20:55:45+00:00,2020-02-25 06:38:23+00:00,2020-02-25 00:00:00+00:00,19.088699,72.867221,48.996277,2.629395,0 days 09:42:38
2353305,AFR217,5214e5b3-2876-4b61-8e1e-c4d5976c8a39,B,VABB,LFPG,2020-02-26 20:48:51+00:00,2020-02-27 06:24:57+00:00,2020-02-27 00:00:00+00:00,19.088699,72.866331,49.027267,2.571928,0 days 09:36:06
2451225,AFR217,ca70225d-ef40-4fe9-9ec1-bacc6cad55a4,B,VABB,LFPG,2020-02-27 21:07:35+00:00,2020-02-28 06:37:53+00:00,2020-02-28 00:00:00+00:00,19.088745,72.869274,48.996044,2.624142,0 days 09:30:18
2487934,FDX7,2ffa3de7-5069-47a5-8c62-d46bc9864b26,B,VABB,LFPG,2020-02-28 06:40:32+00:00,2020-02-28 16:24:29+00:00,2020-02-28 00:00:00+00:00,19.087921,72.868734,49.027607,2.579402,0 days 09:43:57
2550242,AFR217,5b88e47a-67b8-4024-9b64-cb8472999390,B,VABB,LFPG,2020-02-28 20:47:13+00:00,2020-02-29 06:17:49+00:00,2020-02-29 00:00:00+00:00,19.088699,72.866380,48.994787,2.600724,0 days 09:30:36
2588552,FDX5487,c4383ae5-f9c5-4763-ba84-5b5273ee49f2,B,VABB,LFPG,2020-02-29 07:26:36+00:00,2020-02-29 17:18:46+00:00,2020-02-29 00:00:00+00:00,19.081467,72.875735,49.027222,2.571575,0 days 09:52:10

In [187]:
df.journey_time.dtype

dtype('<m8[ns]')

In [188]:
df['journey_time'] = df['journey_time'].dt.total_seconds() / 3600.0

In [189]:
df['journey_time'] = df['journey_time'].round(1)

In [190]:
df.head(5)

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
0,CHH7903,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,53.352573,-2.282253,29.1
1,LAN576,0451aefe-8575-435b-b2db-bf46a29392cd,B,NaN,SKBO,2020-01-31 00:00:08+00:00,2020-02-01 00:03:33+00:00,2020-02-01 00:00:00+00:00,38.063810,-10.594164,4.743530,-74.191884,24.1
2,CES297,d2022876-a87d-4c7a-ae50-0509d5c14585,B,NaN,KJFK,2020-01-31 00:00:08+00:00,2020-02-01 02:11:45+00:00,2020-02-01 00:00:00+00:00,59.870682,33.374542,40.666638,-73.835803,26.2
3,SVA870,7e04be4c-ee07-4f2e-b56d-867003fcbcb9,B,NaN,RPLL,2020-01-31 00:00:11+00:00,2020-02-01 08:45:10+00:00,2020-02-01 00:00:00+00:00,5.326042,100.201753,14.493155,120.991757,32.7
4,QTR875,62ce619a-ce8a-4304-9b48-34d77d3b3f0f,B,NaN,OTHH,2020-01-31 00:00:27+00:00,2020-02-01 02:25:51+00:00,2020-02-01 00:00:00+00:00,25.943390,52.706909,25.248367,51.629893,26.4

In [95]:
#Checks for sample journey
df[(df['origin']=='VABB') & (df['destination']=='LFPG')]

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
1949,AFR217,3b1b418b-2ae3-4689-80a6-f2acf710e2f4,B,VABB,LFPG,2020-01-31 21:45:59+00:00,2020-02-01 07:06:20+00:00,2020-02-01 00:00:00+00:00,19.088745,72.870990,48.995811,2.618721,9.3
28829,FDX5487,155b372b-bfb9-490c-93a0-36aad764cf76,B,VABB,LFPG,2020-02-01 07:05:04+00:00,2020-02-01 17:09:43+00:00,2020-02-01 00:00:00+00:00,19.092714,72.858669,49.027094,2.568560,10.1
81602,AFR217,e40dd5b8-e14c-4832-9340-b9fa09916af4,B,VABB,LFPG,2020-02-01 21:38:25+00:00,2020-02-02 07:07:23+00:00,2020-02-02 00:00:00+00:00,19.088745,72.870255,49.026908,2.565091,9.5
164856,AFR217,e40dd5b8-e14c-4832-9340-b9fa09916af4,B,VABB,LFPG,2020-02-02 21:10:11+00:00,2020-02-03 06:48:18+00:00,2020-02-03 00:00:00+00:00,19.088745,72.868170,48.996417,2.630936,9.6
255271,AFR217,049c20a7-cb53-4cd7-b6c0-f6aed6a6bffb,B,VABB,LFPG,2020-02-03 21:01:46+00:00,2020-02-04 06:27:58+00:00,2020-02-04 00:00:00+00:00,19.088745,72.869715,48.994263,2.590802,9.4
344549,AFR217,ee66e80d-fd9a-4e12-954e-689afbc8937f,B,VABB,LFPG,2020-02-04 21:01:20+00:00,2020-02-05 06:29:46+00:00,2020-02-05 00:00:00+00:00,19.088699,72.868195,48.992320,2.553888,9.5
434636,AFR217,ce5f4dce-0237-4e98-9ae0-c057b7ae064c,B,VABB,LFPG,2020-02-05 21:11:35+00:00,2020-02-06 06:45:14+00:00,2020-02-06 00:00:00+00:00,19.088699,72.865773,48.991761,2.543913,9.6
523558,AFR217,55412925-80c1-4851-9f74-149f9c62201b,B,VABB,LFPG,2020-02-06 20:56:12+00:00,2020-02-07 06:31:57+00:00,2020-02-07 00:00:00+00:00,19.088745,72.868319,48.991882,2.546293,9.6
546271,UZB251,08809cdf-e0a1-4e75-a418-38b6f232ef2d,NaN,VABB,LFPG,2020-02-07 02:29:14+00:00,2020-02-07 16:35:29+00:00,2020-02-07 00:00:00+00:00,19.088373,72.850192,48.991529,2.540227,14.1
560077,FDX7,5c01ec6d-f2e3-4c4c-a0ca-65003b2d3e07,NaN,VABB,LFPG,2020-02-07 07:13:09+00:00,2020-02-07 16:47:43+00:00,2020-02-07 00:00:00+00:00,19.092283,72.863975,49.024255,2.515869,9.6
619559,AFR217,75984c61-f53c-4dac-bee2-146fcdf5014b,B,VABB,LFPG,2020-02-07 21:25:55+00:00,2020-02-08 06:25:58+00:00,2020-02-08 00:00:00+00:00,19.088699,72.864924,49.027048,2.568126,9.0
655779,FDX5487,2045b3de-a290-4c00-950a-a91fa7883ec9,B,VABB,LFPG,2020-02-08 08:24:04+00:00,2020-02-08 17:57:27+00:00,2020-02-08 00:00:00+00:00,19.085161,72.871665,49.027374,2.574559,9.6
707640,AFR217,649d471b-d985-4442-9629-bda3d2ab058f,B,VABB,LFPG,2020-02-08 21:07:19+00:00,2020-02-09 06:42:50+00:00,2020-02-09 00:00:00+00:00,19.088605,72.858981,48.996094,2.625592,9.6
787616,AFR217,649d471b-d985-4442-9629-bda3d2ab058f,B,VABB,LFPG,2020-02-09 21:02:08+00:00,2020-02-10 06:38:58+00:00,2020-02-10 00:00:00+00:00,19.088605,72.861778,48.995087,2.606154,9.6
815207,OMA131,bfbf4e30-5d67-418f-9ca7-4d1b832e9c15,NaN,VABB,LFPG,2020-02-10 05:17:00+00:00,2020-02-10 18:44:52+00:00,2020-02-10 00:00:00+00:00,19.089024,72.867470,49.027467,2.576222,13.5
873910,AFR217,18d8bbb8-5699-4da9-860d-f72da0df89a5,B,VABB,LFPG,2020-02-10 21:08:50+00:00,2020-02-11 06:34:16+00:00,2020-02-11 00:00:00+00:00,19.088652,72.862077,48.994217,2.589675,9.4
900551,UZB251,ecc8fd29-1fb9-4689-bb48-57fe234ba8b6,NaN,VABB,LFPG,2020-02-11 04:39:51+00:00,2020-02-11 17:25:43+00:00,2020-02-11 00:00:00+00:00,19.087051,72.869666,48.995956,2.622986,12.8
988492,OMA131,bc3d0690-2f04-4d6e-8a36-f252b792390a,B,VABB,LFPG,2020-02-12 05:22:47+00:00,2020-02-12 18:37:54+00:00,2020-02-12 00:00:00+00:00,19.090439,72.865988,49.027327,2.573041,13.2
1050117,AFR217,72da1770-530a-4942-861a-4f5eb68942be,B,VABB,LFPG,2020-02-12 20:47:46+00:00,2020-02-13 06:08:36+00:00,2020-02-13 00:00:00+00:00,19.088745,72.868881,49.024956,2.534673,9.4
1144257,AFR217,72da1770-530a-4942-861a-4f5eb68942be,B,VABB,LFPG,2020-02-13 21:09:45+00:00,2020-02-14 06:31:10+00:00,2020-02-14 00:00:00+00:00,19.088373,72.854936,48.995682,2.617070,9.4
1182837,FDX7,1de3821f-f11f-4685-bd2c-b92bb8d0f0c5,B,VABB,LFPG,2020-02-14 07:34:36+00:00,2020-02-14 17:31:05+00:00,2020-02-14 00:00:00+00:00,19.087628,72.869019,49.027313,2.572773,9.9
1276270,FDX5487,51877d0e-be6b-428b-b598-db60af5f2c9e,B,VABB,LFPG,2020-02-15 06:57:39+00:00,2020-02-15 16:54:45+00:00,2020-02-15 00:00:00+00:00,19.093048,72.863143,49.027359,2.574674,10.0
1332846,AFR217,55412925-80c1-4851-9f74-149f9c62201b,B,VABB,LFPG,2020-02-15 21:01:49+00:00,2020-02-16 06:38:27+00:00,2020-02-16 00:00:00+00:00,19.088699,72.867655,48.997953,2.566012,9.6
1417685,KAC167,09ccfde8-5832-499a-b701-72d7fb1b59f2,A,VABB,LFPG,2020-02-16 20:52:23+00:00,2020-02-17 10:48:15+00:00,2020-02-17 00:00:00+00:00,19.088745,72.868440,49.027141,2.569427,13.9
1511445,AFR217,ca70225d-ef40-4fe9-9ec1-bacc6cad55a4,B,VABB,LFPG,2020-02-17 21:00:09+00:00,2020-02-18 06:28:26+00:00,2020-02-18 00:00:00+00:00,19.088654,72.863143,48.995672,2.616698,9.5
1697610,AFR217,e1cc78e9-8768-4fc8-b09d-203037489ea3,B,VABB,LFPG,2020-02-19 20:48:09+00:00,2020-02-20 06:27:19+00:00,2020-02-20 00:00:00+00:00,19.088745,72.868636,49.027130,2.569251,9.6
1796540,AFR217,5d398b33-775d-4ced-ae50-fb79c0b38767,B,VABB,LFPG,2020-02-20 21:08:11+00:00,2020-02-21 06:19:29+00:00,2020-02-21 00:00:00+00:00,19.088699,72.867900,48.994275,2.590750,9.2
1833347,FDX7,22d39707-7788-4445-94ee-b83da61d620f,NaN,VABB,LFPG,2020-02-21 06:45:15+00:00,2020-02-21 16:16:21+00:00,2020-02-21 00:00:00+00:00,19.088791,72.871824,49.027405,2.575097,9.5
1897630,AFR217,1dfe641a-98ae-49c2-bf00-1a89374293bd,B,VABB,LFPG,2020-02-21 20:51:11+00:00,2020-02-22 06:14:57+00:00,2020-02-22 00:00:00+00:00,19.088559,72.857433,48.994322,2.592557,9.4
1935987,FDX5487,5f23c944-2470-4f62-a548-f36a82c5f746,B,VABB,LFPG,2020-02-22 07:18:36+00:00,2020-02-22 16:53:59+00:00,2020-02-22 00:00:00+00:00,19.087967,72.868685,49.027405,2.574745,9.6
1992791,AFR217,5d398b33-775d-4ced-ae50-fb79c0b38767,B,VABB,LFPG,2020-02-22 21:07:09+00:00,2020-02-23 06:38:29+00:00,2020-02-23 00:00:00+00:00,19.088745,72.869618,48.996094,2.625169,9.5
2079662,AFR217,3255ee43-bb05-43a3-ad98-03855e1b2966,B,VABB,LFPG,2020-02-23 20:49:19+00:00,2020-02-24 06:32:28+00:00,2020-02-24 00:00:00+00:00,19.088699,72.868047,48.996323,2.630028,9.7
2173476,AFR217,edd39362-0f9f-45c6-8043-0bf363865434,B,VABB,LFPG,2020-02-24 20:55:45+00:00,2020-02-25 06:38:23+00:00,2020-02-25 00:00:00+00:00,19.088699,72.867221,48.996277,2.629395,9.7
2353305,AFR217,5214e5b3-2876-4b61-8e1e-c4d5976c8a39,B,VABB,LFPG,2020-02-26 20:48:51+00:00,2020-02-27 06:24:57+00:00,2020-02-27 00:00:00+00:00,19.088699,72.866331,49.027267,2.571928,9.6
2451225,AFR217,ca70225d-ef40-4fe9-9ec1-bacc6cad55a4,B,VABB,LFPG,2020-02-27 21:07:35+00:00,2020-02-28 06:37:53+00:00,2020-02-28 00:00:00+00:00,19.088745,72.869274,48.996044,2.624142,9.5
2487934,FDX7,2ffa3de7-5069-47a5-8c62-d46bc9864b26,B,VABB,LFPG,2020-02-28 06:40:32+00:00,2020-02-28 16:24:29+00:00,2020-02-28 00:00:00+00:00,19.087921,72.868734,49.027607,2.579402,9.7
2550242,AFR217,5b88e47a-67b8-4024-9b64-cb8472999390,B,VABB,LFPG,2020-02-28 20:47:13+00:00,2020-02-29 06:17:49+00:00,2020-02-29 00:00:00+00:00,19.088699,72.866380,48.994787,2.600724,9.5
2588552,FDX5487,c4383ae5-f9c5-4763-ba84-5b5273ee49f2,B,VABB,LFPG,2020-02-29 07:26:36+00:00,2020-02-29 17:18:46+00:00,2020-02-29 00:00:00+00:00,19.081467,72.875735,49.027222,2.571575,9.9

In [191]:
df[(df.origin.isna() == True) & (df.destination.isna() == True)]

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
5,NaN,83ffbfac-1b43-4772-89eb-403eff91366f,B,NaN,NaN,2020-01-31 00:00:52+00:00,2020-02-01 02:18:53+00:00,2020-02-01 00:00:00+00:00,40.326435,31.556043,41.536281,29.064267,26.3
15,NaN,223166fb-0b17-43c6-8f3e-c1684dfa9836,NaN,NaN,NaN,2020-01-31 02:30:59+00:00,2020-02-01 05:41:03+00:00,2020-02-01 00:00:00+00:00,-10.115158,-75.342888,-3.641642,-78.077561,27.2
81,JST25,9d6b17fb-735f-481a-9fd6-3e64f517389c,NaN,NaN,NaN,2020-01-31 11:34:46+00:00,2020-02-01 09:23:29+00:00,2020-02-01 00:00:00+00:00,35.800347,140.489132,35.432119,140.664095,21.8
98,CCA845,73114164-bba8-4221-b96a-66d501a1e6d6,A,NaN,NaN,2020-01-31 12:12:19+00:00,2020-02-01 06:01:37+00:00,2020-02-01 00:00:00+00:00,35.901272,139.881378,41.931519,3.409070,17.8
104,FDX15,e615a8e2-d494-4cfd-b9aa-6009981685b9,NaN,NaN,NaN,2020-01-31 12:18:55+00:00,2020-02-01 01:17:27+00:00,2020-02-01 00:00:00+00:00,36.166901,-90.166969,35.447667,140.682094,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648810,FBZ5101,19cf26c7-5f4c-454b-9f26-241cc811c21f,NaN,NaN,NaN,2020-02-29 23:42:10+00:00,2020-02-29 23:59:46+00:00,2020-02-29 00:00:00+00:00,-32.296965,-58.355115,-33.987442,-58.727417,0.3
2648815,LNI388,b3b71956-7c0c-4ca5-8efa-78a5239a19f7,B,NaN,NaN,2020-02-29 23:43:14+00:00,2020-02-29 23:57:06+00:00,2020-02-29 00:00:00+00:00,-2.412663,103.588146,-0.983414,102.502907,0.2
2648817,CBJ5523,df54debb-197d-4375-957e-bb6d5be13ad2,A,NaN,NaN,2020-02-29 23:43:18+00:00,2020-02-29 23:58:54+00:00,2020-02-29 00:00:00+00:00,29.600427,106.871069,27.651031,106.979681,0.3
2648823,VOI229,9293fe1b-1c66-4db3-a651-324261fa340c,A,NaN,NaN,2020-02-29 23:44:50+00:00,2020-02-29 23:59:20+00:00,2020-02-29 00:00:00+00:00,24.593966,-98.007738,25.333355,-99.479854,0.2
2648832,CCA4589,53c68f95-853b-4671-891c-49dc12bf8e66,NaN,NaN,NaN,2020-02-29 23:47:36+00:00,2020-02-29 23:57:57+00:00,2020-02-29 00:00:00+00:00,30.181631,106.737451,29.794689,108.061847,0.2

In [192]:
# Drop rows where both 'origin' and 'destination' are NaN
df = df.dropna(subset=['origin', 'destination'], how='all')

In [193]:
df.shape

(2542431, 13)

In [194]:
df.isna().sum()

callsign        629797
aircraft_uid         0
typecode        777509
origin          549623
destination     374846
firstseen            0
lastseen             0
day                  0
latitude_1           0
longitude_1          0
latitude_2          72
longitude_2         72
journey_time         0
dtype: int64

In [112]:
df = df.dropna(subset=['origin','destination'])

In [113]:
df.isna().sum()

callsign        486686
aircraft_uid         0
typecode        555191
origin               0
destination          0
firstseen            0
lastseen             0
day                  0
latitude_1           0
longitude_1          0
latitude_2          53
longitude_2         53
journey_time         0
dtype: int64

In [196]:
df[(df.callsign.isna() == True) & (df.typecode.isna() == True)]

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
26,NaN,2a95d9d7-0d21-4f67-b66d-b33a25ed3d61,NaN,YSWG,YPJT,2020-01-31 05:08:16+00:00,2020-02-01 03:21:21+00:00,2020-02-01 00:00:00+00:00,-35.171798,147.451458,-32.105542,115.865348,22.2
55,NaN,e27f2366-1821-4b2c-9031-dfd7c80f3b6e,NaN,SADF,YSBK,2020-01-31 10:01:36+00:00,2020-02-01 00:33:39+00:00,2020-02-01 00:00:00+00:00,-34.443023,-58.576241,-33.931368,151.007423,14.5
184,NaN,bc29154c-45bc-4b58-a3df-ee4c01402eaa,NaN,LEMD,NaN,2020-01-31 14:22:20+00:00,2020-02-01 00:16:49+00:00,2020-02-01 00:00:00+00:00,40.500916,-3.574646,24.012085,-83.018595,9.9
197,NaN,b0c8469d-c99c-4992-9fbc-3c3f9ab7b9cb,NaN,K07V,FL82,2020-01-31 14:39:28+00:00,2020-02-01 00:52:37+00:00,2020-02-01 00:00:00+00:00,37.514493,-105.051926,29.603439,-81.801505,10.2
198,NaN,f67ad80e-ce53-421c-85f5-92cf38f9b5ca,NaN,KMYF,KTYS,2020-01-31 14:39:43+00:00,2020-02-01 00:13:44+00:00,2020-02-01 00:00:00+00:00,32.814067,-117.134213,35.827254,-83.970610,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648825,NaN,9c821d41-65c6-4003-9752-701f49aa93f1,NaN,KTOA,KTOA,2020-02-29 23:44:55+00:00,2020-02-29 23:59:36+00:00,2020-02-29 00:00:00+00:00,33.819875,-118.373280,33.792828,-118.336487,0.2
2648826,NaN,997df666-2ef1-4554-99f7-a41bc5bfcd36,NaN,CO52,KAPA,2020-02-29 23:45:24+00:00,2020-02-29 23:57:50+00:00,2020-02-29 00:00:00+00:00,39.624619,-105.389219,39.557510,-104.833155,0.2
2648827,NaN,fe4a7270-18ab-4335-8d09-18458badc967,NaN,KDVO,KSTS,2020-02-29 23:45:28+00:00,2020-02-29 23:57:20+00:00,2020-02-29 00:00:00+00:00,38.150071,-122.561864,38.419144,-122.971523,0.2
2648830,NaN,f72539c2-8c72-4c1c-96aa-d7fe6ff2a4af,NaN,KS50,KS36,2020-02-29 23:45:54+00:00,2020-02-29 23:59:27+00:00,2020-02-29 00:00:00+00:00,47.298237,-122.220224,47.349398,-122.105361,0.2
2648833,NaN,346df2ef-1724-4247-b45a-1af8461d5537,NaN,37CA,KNFG,2020-02-29 23:48:16+00:00,2020-02-29 23:59:31+00:00,2020-02-29 00:00:00+00:00,33.543401,-117.089939,33.369461,-117.234558,0.2

In [197]:
df = df[df['origin'] != df['destination']]

In [198]:
df.shape

(2373302, 13)

In [199]:
#Checks for origin and destination
df[df['origin'] == df['destination']]

Empty DataFrame
Columns: [callsign, aircraft_uid, typecode, origin, destination, firstseen, lastseen, day, latitude_1, longitude_1, latitude_2, longitude_2, journey_time]
Index: []

In [200]:
# check if there are outliers in jounrey time
df[df['journey_time']>50]

Empty DataFrame
Columns: [callsign, aircraft_uid, typecode, origin, destination, firstseen, lastseen, day, latitude_1, longitude_1, latitude_2, longitude_2, journey_time]
Index: []

In [201]:
df.isna().sum()

callsign        483179
aircraft_uid         0
typecode        647607
origin          549623
destination     374846
firstseen            0
lastseen             0
day                  0
latitude_1           0
longitude_1          0
latitude_2          64
longitude_2         64
journey_time         0
dtype: int64

In [139]:
df = df.dropna(subset=['latitude_2','longitude_2'])

In [140]:
df.isna().sum()

callsign        340037
aircraft_uid         0
typecode        425262
origin               0
destination          0
firstseen            0
lastseen             0
day                  0
latitude_1           0
longitude_1          0
latitude_2           0
longitude_2          0
journey_time         0
dtype: int64

In [202]:
df

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
0,CHH7903,f7bf245c-90b8-4ff8-9148-6c3919a075c1,A,NaN,EGCC,2020-01-31 00:00:07+00:00,2020-02-01 05:03:20+00:00,2020-02-01 00:00:00+00:00,62.316595,-153.436221,53.352573,-2.282253,29.1
1,LAN576,0451aefe-8575-435b-b2db-bf46a29392cd,B,NaN,SKBO,2020-01-31 00:00:08+00:00,2020-02-01 00:03:33+00:00,2020-02-01 00:00:00+00:00,38.063810,-10.594164,4.743530,-74.191884,24.1
2,CES297,d2022876-a87d-4c7a-ae50-0509d5c14585,B,NaN,KJFK,2020-01-31 00:00:08+00:00,2020-02-01 02:11:45+00:00,2020-02-01 00:00:00+00:00,59.870682,33.374542,40.666638,-73.835803,26.2
3,SVA870,7e04be4c-ee07-4f2e-b56d-867003fcbcb9,B,NaN,RPLL,2020-01-31 00:00:11+00:00,2020-02-01 08:45:10+00:00,2020-02-01 00:00:00+00:00,5.326042,100.201753,14.493155,120.991757,32.7
4,QTR875,62ce619a-ce8a-4304-9b48-34d77d3b3f0f,B,NaN,OTHH,2020-01-31 00:00:27+00:00,2020-02-01 02:25:51+00:00,2020-02-01 00:00:00+00:00,25.943390,52.706909,25.248367,51.629893,26.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648828,NaN,571f038b-9f5a-4f26-b8ca-e9de77e7e63a,P,NaN,K7A8,2020-02-29 23:45:37+00:00,2020-02-29 23:59:26+00:00,2020-02-29 00:00:00+00:00,36.615280,-81.256428,35.896337,-82.046717,0.2
2648829,ARE4168,146bdd73-83cc-4028-8127-0e6e15b82b24,A,SKBO,NaN,2020-02-29 23:45:52+00:00,2020-02-29 23:59:27+00:00,2020-02-29 00:00:00+00:00,4.693176,-74.125268,5.814281,-73.708459,0.2
2648830,NaN,f72539c2-8c72-4c1c-96aa-d7fe6ff2a4af,NaN,KS50,KS36,2020-02-29 23:45:54+00:00,2020-02-29 23:59:27+00:00,2020-02-29 00:00:00+00:00,47.298237,-122.220224,47.349398,-122.105361,0.2
2648831,HXA2709,82a50bde-d5bf-4c96-822e-8919c675d3fb,NaN,ZUCK,NaN,2020-02-29 23:47:33+00:00,2020-02-29 23:59:52+00:00,2020-02-29 00:00:00+00:00,29.594235,106.598511,29.777985,107.953139,0.2
2648833,NaN,346df2ef-1724-4247-b45a-1af8461d5537,NaN,37CA,KNFG,2020-02-29 23:48:16+00:00,2020-02-29 23:59:31+00:00,2020-02-29 00:00:00+00:00,33.543401,-117.089939,33.369461,-117.234558,0.2

In [19]:
output_file_path = r'C:\Users\Karan Gulati\Downloads\cleaned_flight_data.csv'

df.to_csv(output_file_path, index=False)

print("Data exported successfully to", output_file_path)

Data exported successfully to C:\Users\Karan Gulati\Downloads\cleaned_flight_data.csv

In [31]:
#Importing Libaraires
import pandas as pd
import numpy as np

In [5]:
#Input Files
file_paths = [r"C:\Users\Karan Gulati\Downloads\flightlist_20200101_20200131.csv.gz",
    r"C:\Users\Karan Gulati\Downloads\flightlist_20200201_20200229.csv.gz",
    r"C:\Users\Karan Gulati\Downloads\flightlist_20200301_20200331.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20200401_20200430.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20200501_20200531.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20200601_20200630.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20200701_20200731.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20200801_20200831.csv.gz",
r"C:\Users\Karan Gulati\Downloads\flightlist_20190101_20190131.csv.gz",             
r"C:\Users\Karan Gulati\Downloads\flightlist_20190201_20190228.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190301_20190331.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190401_20190430.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190501_20190531.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190601_20190630.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190701_20190731.csv.gz",              
r"C:\Users\Karan Gulati\Downloads\flightlist_20190801_20190831.csv.gz"]

In [6]:
# Data Cleaning
def clean_and_combine_flight_data(file_paths):
    combined_df = pd.DataFrame()
    for file_path in file_paths:
        # Read the compressed CSV file
        df = pd.read_csv(file_path, compression='gzip')
#         print(df.shape)
        # Drop specific columns
        df.drop(['number','altitude_1','altitude_2'], axis=1, inplace=True)
        
        # Extract aircraft typecode
        df['typecode'] = df['typecode'].str.slice(0,1)
        
        # Calculate journey time in hours
        df['journey_time'] = (pd.to_datetime(df['lastseen']) - pd.to_datetime(df['firstseen'])).dt.total_seconds() / 3600.0
        df['journey_time'] = df['journey_time'].round(1)
        
        # Drop rows based on various conditions
        df.dropna(subset=['origin', 'destination'],inplace=True)
        df = df[df['origin'] != df['destination']]
        df.dropna(subset=['latitude_2','longitude_2'])
        df = df.drop(df[(df['callsign'].isna()) & (df['typecode'].isna())].index)

        #Append cleaned data to the combined DataFrame
        combined_df = pd.concat([combined_df, df], ignore_index=True)
    
    return combined_df

In [7]:
df_cleaned = clean_and_combine_flight_data(file_paths)

In [8]:
df_cleaned.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
0,SXI1963,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,1.388535,103.849198,32.9
1,CES771,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,52.314357,4.765359,26.7
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,41.389572,2.349951,30.9
3,CCA731,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,41.778488,12.241828,25.6
4,ETH726,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,48.116789,16.553139,23.9

In [10]:
df_cleaned['aircraft_uid'].value_counts()

fcb3c57c-ef32-4947-b04a-a9b2e47e603d    3357
020aabc5-415b-45dd-8f3c-59163e681cbd    2704
b2dfaa54-56f4-4135-80ba-d5afed6236ee    2329
faed2708-5e5b-4cab-a568-6e2b0a10a211    2303
6f651123-f56c-45d6-91a1-23229cfe7e97    2172
                                        ...
f2b30dc3-94e3-44a5-aae6-6a05ea9cede8       1
dd08f0ea-439a-4ea2-a2a9-b669bc446286       1
32e48071-fc3e-4c76-8c1c-aa44590bd457       1
0f5103db-4ff9-4d4f-b76e-f9f16b9ac756       1
6383f15f-bb75-4555-9834-7b63a11fee72       1
Name: aircraft_uid, Length: 74867, dtype: int64

In [14]:
df_cleaned[df_cleaned.duplicated()]

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
746665,AFR53ZD,10ac4abc-1bfd-456a-bde4-3279031f27d6,A,LFPG,ENBR,2020-01-19 13:45:23+00:00,2020-01-19 15:50:59+00:00,2020-01-19 00:00:00+00:00,49.022951,2.557791,60.344467,5.009671,2.1
2137045,DAL2607,560dc3d8-505c-438b-b61c-a582d4715a5e,NaN,KTPA,KATL,2020-02-21 17:50:18+00:00,2020-02-21 18:58:56+00:00,2020-02-21 00:00:00+00:00,27.984695,-82.541656,33.620224,-84.466478,1.1
2859235,RPA6099,b0d0462a-4d61-407e-9cfc-6b43e73b382a,E,KLGA,VG64,2020-03-09 12:34:34+00:00,2020-03-09 13:26:46+00:00,2020-03-09 00:00:00+00:00,40.781204,-73.876099,37.591211,-76.859635,0.9
8022854,DLH8KT,aa645a6a-a36b-4766-b288-ec4adfa9eb52,A,EDDM,LSZH,2019-02-25 17:55:19+00:00,2019-02-25 18:32:18+00:00,2019-02-25 00:00:00+00:00,48.343568,11.789559,47.454872,8.560564,0.6

In [12]:
df_duplicates.count()

callsign        4
aircraft_uid    4
typecode        3
origin          4
destination     4
firstseen       4
lastseen        4
day             4
latitude_1      4
longitude_1     4
latitude_2      4
longitude_2     4
journey_time    4
dtype: int64

In [13]:
df_duplicates

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
746665,AFR53ZD,10ac4abc-1bfd-456a-bde4-3279031f27d6,A,LFPG,ENBR,2020-01-19 13:45:23+00:00,2020-01-19 15:50:59+00:00,2020-01-19 00:00:00+00:00,49.022951,2.557791,60.344467,5.009671,2.1
2137045,DAL2607,560dc3d8-505c-438b-b61c-a582d4715a5e,NaN,KTPA,KATL,2020-02-21 17:50:18+00:00,2020-02-21 18:58:56+00:00,2020-02-21 00:00:00+00:00,27.984695,-82.541656,33.620224,-84.466478,1.1
2859235,RPA6099,b0d0462a-4d61-407e-9cfc-6b43e73b382a,E,KLGA,VG64,2020-03-09 12:34:34+00:00,2020-03-09 13:26:46+00:00,2020-03-09 00:00:00+00:00,40.781204,-73.876099,37.591211,-76.859635,0.9
8022854,DLH8KT,aa645a6a-a36b-4766-b288-ec4adfa9eb52,A,EDDM,LSZH,2019-02-25 17:55:19+00:00,2019-02-25 18:32:18+00:00,2019-02-25 00:00:00+00:00,48.343568,11.789559,47.454872,8.560564,0.6

In [16]:
df_cleaned.isnull().sum()

callsign        1819683
aircraft_uid          0
typecode        1928453
origin                0
destination           0
firstseen             0
lastseen              0
day                   0
latitude_1            0
longitude_1           0
latitude_2          266
longitude_2         266
journey_time          0
dtype: int64

In [9]:
#Extracting airline name from callsign 
df_cleaned['callsign'] = df_cleaned['callsign'].str.slice(0,3)

In [10]:
df_cleaned.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,1.388535,103.849198,32.9
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,52.314357,4.765359,26.7
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,41.389572,2.349951,30.9
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,41.778488,12.241828,25.6
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,48.116789,16.553139,23.9

In [11]:
#Reading Airlines data
df_airlines = pd.read_excel(r"C:\Users\Karan Gulati\Desktop\BDSS Tableau Assignment\airlines_data_1.xlsx")

In [12]:
df_airlines.head()

  callsign          Airline
0      ABG      Abakan-Avia
1      ABE         Aban Air
2      MRP             Abas
3      AHU  ABC Air Hungary
4      FTY  ABC Bedarfsflug

In [13]:
#Joining Airlines data to cleaned dataset
merged_df = pd.merge(df_cleaned, df_airlines, on='callsign', how='left')

In [14]:
merged_df.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time,Airline
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,1.388535,103.849198,32.9,NaN
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,52.314357,4.765359,26.7,China Eastern Airlines
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,41.389572,2.349951,30.9,North Coast Air Services Ltd
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,41.778488,12.241828,25.6,Air China
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,48.116789,16.553139,23.9,Ethiopian Airlines

In [57]:
merged_df[merged_df['Airline'].isnull()]['callsign'].value_counts()

NAX    64514
GAJ    23583
OXF    13993
CHX    11589
BMS     6004
       ...
MCR        1
BSF        1
KRU        1
EMF        1
FDK        1
Name: callsign, Length: 723, dtype: int64

In [66]:
len(set(merged_df[merged_df['Airline'].isnull()]['callsign'].to_list()))

723

In [75]:
merged_df['Airline'].fillna("Unknown Airline",inplace=True)

In [76]:
merged_df['Airline'].isnull().sum()

0

In [77]:
merged_df

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,journey_time,Airline
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,1.388535,103.849198,32.9,Unknown Airline
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,52.314357,4.765359,26.7,China Eastern Airlines
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,41.389572,2.349951,30.9,North Coast Air Services Ltd
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,41.778488,12.241828,25.6,Air China
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,48.116789,16.553139,23.9,Ethiopian Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15123756,NaN,ec4d524b-2483-4626-ae2a-73a1d3a1817e,B,KDVT,KFFZ,2019-08-31 23:39:09+00:00,2019-08-31 23:50:25+00:00,2019-08-31 00:00:00+00:00,33.708115,-112.064639,33.529541,-111.693054,0.2,North Coast Air Services Ltd
15123757,NaN,2f938e56-a2e0-409b-ba8d-e370531298b9,E,8CL1,1CA6,2019-08-31 23:40:54+00:00,2019-08-31 23:53:06+00:00,2019-08-31 00:00:00+00:00,33.122360,-117.122058,32.872909,-116.716844,0.2,North Coast Air Services Ltd
15123758,NaN,ced3109f-487a-4a80-885b-41a91028e991,D,CYCD,CYVR,2019-08-31 23:42:51+00:00,2019-08-31 23:58:56+00:00,2019-08-31 00:00:00+00:00,49.164597,-123.909654,49.172756,-123.151028,0.3,North Coast Air Services Ltd
15123759,WCC,36d0cd80-ad36-4ede-8f52-70ad04e0f94b,B,KSAN,KCRQ,2019-08-31 23:47:23+00:00,2019-08-31 23:58:05+00:00,2019-08-31 00:00:00+00:00,32.734742,-117.194469,33.129040,-117.275129,0.2,Sport Air Travel
15123760,WCC,36d0cd80-ad36-4ede-8f52-70ad04e0f94b,B,KSAN,KCRQ,2019-08-31 23:47:23+00:00,2019-08-31 23:58:05+00:00,2019-08-31 00:00:00+00:00,32.734742,-117.194469,33.129040,-117.275129,0.2,West Coast Charters

In [15]:
#Reading Airport & country data with ICAO
airport_country = pd.read_excel(r"C:\Users\Karan Gulati\Desktop\BDSS Tableau Assignment\aiport_country.xlsx")

In [16]:
airport_country

,country_code,icao,airport,latitude,longitude,name,continent
0,AE,OMAL,Al Ain International Airport,24.2617,55.6092,United Arab Emirates,Asia
1,AE,OMAA,Abu Dhabi International Airport,24.4330,54.6511,United Arab Emirates,Asia
2,AE,NaN,Yas Island Seaplane Base,24.4670,54.6103,United Arab Emirates,Asia
3,AE,OMAD,Al Bateen Executive Airport,24.4283,54.4581,United Arab Emirates,Asia
4,AE,OMAM,Al Dhafra Air Base,24.2482,54.5477,United Arab Emirates,Asia
...,...,...,...,...,...,...,...
8932,ZW,FVMV,Masvingo Airport,-20.0553,30.8591,Zimbabwe,Africa
8933,ZW,FVWN,Hwange National Park Airport,-18.6299,27.0210,Zimbabwe,Africa
8934,ZW,FVFA,Victoria Falls Airport,-18.0959,25.8390,Zimbabwe,Africa
8935,ZW,FVWT,Hwange Town Airport,-18.3630,26.5198,Zimbabwe,Africa
8936,ZW,FVTL,Thornhill Air Base,-19.4364,29.8619,Zimbabwe,Africa

In [18]:
airport_country['icao'].isnull().sum()

0

In [19]:
airport_country['icao'].nunique()

7791

In [17]:
#Remove nulls from ICAO
airport_country.dropna(subset=['icao'],inplace=True)

In [20]:
airport_country

,country_code,icao,airport,latitude,longitude,name,continent
0,AE,OMAL,Al Ain International Airport,24.2617,55.6092,United Arab Emirates,Asia
1,AE,OMAA,Abu Dhabi International Airport,24.4330,54.6511,United Arab Emirates,Asia
3,AE,OMAD,Al Bateen Executive Airport,24.4283,54.4581,United Arab Emirates,Asia
4,AE,OMAM,Al Dhafra Air Base,24.2482,54.5477,United Arab Emirates,Asia
5,AE,OMBY,Sir Bani Yas Airport,24.2836,52.5803,United Arab Emirates,Asia
...,...,...,...,...,...,...,...
8932,ZW,FVMV,Masvingo Airport,-20.0553,30.8591,Zimbabwe,Africa
8933,ZW,FVWN,Hwange National Park Airport,-18.6299,27.0210,Zimbabwe,Africa
8934,ZW,FVFA,Victoria Falls Airport,-18.0959,25.8390,Zimbabwe,Africa
8935,ZW,FVWT,Hwange Town Airport,-18.3630,26.5198,Zimbabwe,Africa
8936,ZW,FVTL,Thornhill Air Base,-19.4364,29.8619,Zimbabwe,Africa

In [21]:
merged_df['origin'].nunique()

13180

In [97]:
merged_df['destination'].nunique()

15041

In [22]:
#Join airports data to cleaned dataset
merged_df = pd.merge(merged_df, airport_country, left_on='origin',right_on='icao', how='left')

In [23]:
merged_df.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,...,longitude_2,journey_time,Airline,country_code,icao,airport,latitude,longitude,name,continent
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,...,103.849198,32.9,NaN,AU,YPAD,Adelaide Airport,-34.9450,138.5310,Australia,Oceania
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,...,4.765359,26.7,China Eastern Airlines,AU,YSSY,Sydney Airport (Kingsford Smith Airport),-33.9461,151.1770,Australia,Oceania
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,...,2.349951,30.9,North Coast Air Services Ltd,AR,SAEZ,Ministro Pistarini International Airport,-34.8222,-58.5358,Argentina,Americas
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,...,12.241828,25.6,Air China,KR,RKSI,Incheon International Airport,37.4633,126.4400,"Korea, Republic of",Asia
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,...,16.553139,23.9,Ethiopian Airlines,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Rename columns for origin
merged_df.rename(columns={'country_code':'origin_country_code',
                          'icao':'origin_icao',
                          'airport':'origin_airport',
                           'latitude':'origin_latitude',
                            'longitude':'origin_longitude',
                         'name':'origin_name','continent':'origin_continent'},inplace=True)

In [26]:
merged_df = pd.merge(merged_df, airport_country, left_on='destination',right_on='icao', how='left')

In [27]:
merged_df.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,...,origin_longitude,origin_name,origin_continent,country_code,icao,airport,latitude,longitude,name,continent
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,...,138.5310,Australia,Oceania,SG,WSSL,Seletar Airport,1.41695,103.86800,Singapore,Asia
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,...,151.1770,Australia,Oceania,NL,EHAM,Amsterdam Airport Schiphol,52.30860,4.76389,Netherlands,Europe
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,...,-58.5358,Argentina,Americas,ES,LEBL,Barcelona El Prat Airport,41.29710,2.07846,Spain,Europe
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,...,126.4400,"Korea, Republic of",Asia,IT,LIRF,RomeFiumicino International Airport,41.80030,12.23890,Italy,Europe
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,...,NaN,NaN,NaN,AT,LOWW,Vienna International Airport,48.11030,16.56970,Austria,Europe

In [28]:
#rename columns for destination
merged_df.rename(columns={'country_code':'destination_country_code',
                          'icao':'destination_icao',
                          'airport':'destination_airport',
                           'latitude':'destination_latitude',
                            'longitude':'destination_longitude',
                         'name':'destination_name','continent':'destination_continent'},inplace=True)

In [29]:
merged_df.head()

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,...,origin_longitude,origin_name,origin_continent,destination_country_code,destination_icao,destination_airport,destination_latitude,destination_longitude,destination_name,destination_continent
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,...,138.5310,Australia,Oceania,SG,WSSL,Seletar Airport,1.41695,103.86800,Singapore,Asia
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,...,151.1770,Australia,Oceania,NL,EHAM,Amsterdam Airport Schiphol,52.30860,4.76389,Netherlands,Europe
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,...,-58.5358,Argentina,Americas,ES,LEBL,Barcelona El Prat Airport,41.29710,2.07846,Spain,Europe
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,...,126.4400,"Korea, Republic of",Asia,IT,LIRF,RomeFiumicino International Airport,41.80030,12.23890,Italy,Europe
4,ETH,ed56ade3-76c7-4abc-bf40-7da4db5264ce,B,SBGR,LOWW,2019-12-31 04:33:19+00:00,2020-01-01 04:25:22+00:00,2020-01-01 00:00:00+00:00,-23.417404,-46.423479,...,NaN,NaN,NaN,AT,LOWW,Vienna International Airport,48.11030,16.56970,Austria,Europe

In [35]:
#Null check
merged_df.isnull().sum()

callsign                    1819683
aircraft_uid                      0
typecode                    2041472
origin                            0
destination                       0
firstseen                         0
lastseen                          0
day                               0
latitude_1                        0
longitude_1                       0
latitude_2                      283
longitude_2                     283
journey_time                      0
Airline                      260263
origin_country_code         1449542
origin_icao                 1449542
origin_airport              1449542
origin_latitude             1449542
origin_longitude            1449542
origin_name                 1449542
origin_continent            1449542
destination_country_code    2637236
destination_icao            2637236
destination_airport         2637236
destination_latitude        2637236
destination_longitude       2637236
destination_name            2637236
destination_continent       2637236
dtype: int64

In [36]:
#Remove nulls from origin and destination columns
merged_df.dropna(subset=['origin_country_code','origin_icao','origin_airport','origin_latitude'
                              ,'origin_longitude','origin_name','origin_continent',
                               'destination_country_code','destination_icao','destination_airport',
                               'destination_latitude','destination_longitude','destination_name',
                              'destination_continent'],inplace=True)

In [37]:
merged_df

,callsign,aircraft_uid,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,...,origin_longitude,origin_name,origin_continent,destination_country_code,destination_icao,destination_airport,destination_latitude,destination_longitude,destination_name,destination_continent
0,SXI,a048b88b-a96e-4dcf-bb98-4593b45c6b49,F,YPAD,WSSL,2019-12-31 00:07:07+00:00,2020-01-01 09:01:00+00:00,2020-01-01 00:00:00+00:00,-34.959753,138.474712,...,138.5310,Australia,Oceania,SG,WSSL,Seletar Airport,1.41695,103.868000,Singapore,Asia
1,CES,30cd793f-3b90-4089-b126-db1bbff113f2,A,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00,-33.924545,151.170137,...,151.1770,Australia,Oceania,NL,EHAM,Amsterdam Airport Schiphol,52.30860,4.763890,Netherlands,Europe
2,NaN,f30562be-e55b-4674-9566-aa2198da6956,B,SAEZ,LEBL,2019-12-31 03:08:58+00:00,2020-01-01 10:05:29+00:00,2020-01-01 00:00:00+00:00,-34.825310,-58.518505,...,-58.5358,Argentina,Americas,ES,LEBL,Barcelona El Prat Airport,41.29710,2.078460,Spain,Europe
3,CCA,c807430c-0145-4e7a-a1d9-6eb022e352a1,A,RKSI,LIRF,2019-12-31 04:05:11+00:00,2020-01-01 05:44:11+00:00,2020-01-01 00:00:00+00:00,37.497688,126.422723,...,126.4400,"Korea, Republic of",Asia,IT,LIRF,RomeFiumicino International Airport,41.80030,12.238900,Italy,Europe
5,CCA,bcdbc54a-8a00-4700-9ea7-984b3e67b644,A,RJBB,EGKK,2019-12-31 04:43:59+00:00,2020-01-01 06:01:26+00:00,2020-01-01 00:00:00+00:00,34.425018,135.240802,...,135.2300,Japan,Asia,GB,EGKK,Gatwick Airport,51.14810,-0.190278,United Kingdom of Great Britain and Northern I...,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15123751,LIA,4e00c528-7c44-4392-a799-637077c71f6e,A,TBPB,TVSA,2019-08-31 23:37:36+00:00,2019-08-31 23:59:12+00:00,2019-08-31 00:00:00+00:00,13.041004,-59.497375,...,-59.4925,Barbados,Americas,VC,TVSA,Argyle International Airport,13.14430,-61.210900,Saint Vincent and the Grenadines,Americas
15123756,NaN,ec4d524b-2483-4626-ae2a-73a1d3a1817e,B,KDVT,KFFZ,2019-08-31 23:39:09+00:00,2019-08-31 23:50:25+00:00,2019-08-31 00:00:00+00:00,33.708115,-112.064639,...,-112.0830,United States of America,Americas,US,KFFZ,Falcon Field Airport,33.46080,-111.728000,United States of America,Americas
15123758,NaN,ced3109f-487a-4a80-885b-41a91028e991,D,CYCD,CYVR,2019-08-31 23:42:51+00:00,2019-08-31 23:58:56+00:00,2019-08-31 00:00:00+00:00,49.164597,-123.909654,...,-123.8700,Canada,Americas,CA,CYVR,Vancouver International Airport,49.19390,-123.184000,Canada,Americas
15123759,WCC,36d0cd80-ad36-4ede-8f52-70ad04e0f94b,B,KSAN,KCRQ,2019-08-31 23:47:23+00:00,2019-08-31 23:58:05+00:00,2019-08-31 00:00:00+00:00,32.734742,-117.194469,...,-117.1900,United States of America,Americas,US,KCRQ,McClellan-Palomar Airport,33.12830,-117.280000,United States of America,Americas
15123760,WCC,36d0cd80-ad36-4ede-8f52-70ad04e0f94b,B,KSAN,KCRQ,2019-08-31 23:47:23+00:00,2019-08-31 23:58:05+00:00,2019-08-31 00:00:00+00:00,32.734742,-117.194469,...,-117.1900,United States of America,Americas,US,KCRQ,McClellan-Palomar Airport,33.12830,-117.280000,United States of America,Americas

In [38]:
#Exporting Final Dataset
output_file_path = r'C:\Users\Karan Gulati\Desktop\BDSS Tableau Assignment\flight_data_final.csv'
merged_df.to_csv(output_file_path, index=False)
print("Data exported successfully to", output_file_path)

Data exported successfully to C:\Users\Karan Gulati\Desktop\BDSS Tableau Assignment\flight_data_final.csv